colorama==0.4.6
psutil==7.1.2
skyrl==0.1.0
dataflow==0.0.1
llm_datadist==0.0.1
show_kernel_debug_data==0.1.0
msobjdump==0.1.0
opc_tool==0.1.0
te==0.4.0
op_test_frame==0.1
ge-py==0.0.1
asc_opc_tool==0.1.0
op_gen==0.1
op_compile_tool==0.1.0
asc_op_compile_base==0.1.0
superkernel==0.1.0
schedule_search==0.0.1
es_math==1.0.0
auto_tune==0.1.0
mspti==0.0.1
llm_datadist_v1==0.0.1
hccl==0.1.0
wandb==0.25.1
msgpack==1.1.2
click==8.3.1
tiktoken==0.12.0
typer==0.24.1
diskcache==5.6.3
rich-rst==1.3.2
requests==2.32.5
starlette==0.52.1
distro==1.9.0
ray==2.51.1
lupa==2.6
blake3==1.0.8
sniffio==1.3.1
aiobotocore==3.3.0
partial-json-parser==0.2.1.1.post7
jaraco.context==6.1.2
datasets==4.8.4
opentelemetry-sdk==1.40.0
rpds-py==0.30.0
tensorboard==2.20.0
attrs==26.1.0
cryptography==46.0.5
exceptiongroup==1.3.1
fastuuid==0.14.0
fastapi==0.135.2
beartype==0.22.9
lm-format-enforcer==0.11.3
jiter==0.13.0
sentry-sdk==2.56.0
grpcio==1.78.0
transformers==4.57.6
smmap==5.0.3
pandas==3.0.1
greenlet==3.3.2
frozenlist==1.8.0
gcsfs==2026.2.0
botocore==1.42.70
aioitertools==0.13.0
opentelemetry-api==1.40.0
shellingham==1.5.4
jaxtyping==0.3.9
google-cloud-core==2.5.0
opentelemetry-instrumentation-threading==0.61b0
sentencepiece==0.2.1
cloudpickle==3.1.2
python-frontmatter==1.1.0
openhands-tools==1.14.0
Mako==1.3.10
opentelemetry-proto==1.40.0
aiosignal==1.4.0
wheel==0.46.3
cbor2==5.9.0
opentelemetry-exporter-otlp-proto-http==1.40.0
prometheus_client==0.24.1
opentelemetry-semantic-conventions==0.61b0
depyf==0.20.0
httpx==0.28.1
requests-oauthlib==2.0.0
pyvers==0.2.2
jsonschema==4.26.0
wsproto==1.3.2
orjson==3.11.7
google-api-core==2.30.0
google-cloud-storage-control==1.10.0
vllm==0.11.0
keyring==25.7.0
h11==0.16.0
setuptools==75.8.2
certifi==2026.2.25
mcp==1.26.0
torch_npu==2.8.0.post2
pyasn1_modules==0.4.2
grpc-google-iam-v1==0.14.3
googleapis-common-protos==1.73.0
filelock==3.25.2
agent-client-protocol==0.8.1
httpx-sse==0.4.3
pybind11==3.0.2
openhands-workspace==1.14.0
multidict==6.7.1
xgrammar==0.1.32
jaraco.functools==4.4.0
regex==2026.2.28
numpy==2.4.3
outlines_core==0.2.14
absl-py==2.4.0
bashlex==0.18
polars-runtime-32==1.39.3
tqdm==4.67.3
safetensors==0.7.0
python-multipart==0.0.22
deprecation==2.1.0
pyarrow==23.0.1
referencing==0.37.0
python-dotenv==1.2.2
aiohttp==3.13.3
markdown-it-py==4.0.0
Markdown==3.10.2
astor==0.8.1
rich==14.3.3
caio==0.9.25
setproctitle==1.3.7
jsonschema-path==0.4.5
annotated-types==0.7.0
peft==0.18.1
polars==1.39.3
openai-harmony==0.0.8
jaraco.classes==3.4.0
tokenizers==0.22.2
einops==0.8.2
binaryornot==0.6.0
func_timeout==4.3.5
six==1.17.0
numba==0.64.0
python-dateutil==2.9.0.post0
openai==2.29.0
fsspec==2026.2.0
tensorboard-data-server==0.7.2
Werkzeug==3.1.7
decorator==5.2.1
httpcore==1.0.9
pyperclip==1.11.0
google-cloud-storage==3.10.1
tensordict==0.11.0
docstring_parser==0.17.0
opentelemetry-exporter-otlp-proto-common==1.40.0
PyYAML==6.0.3
idna==3.11
mdurl==0.1.2
MarkupSafe==3.0.3
zipp==3.23.0
opentelemetry-instrumentation==0.61b0
libtmux==0.55.0
Authlib==1.6.9
hydra-core==1.3.2
skyrl-gym==0.1.1
email-validator==2.3.0
cachetools==7.0.5
pyzmq==27.1.0
wrapt==1.17.3
annotated-doc==0.0.4
docker==7.1.0
vllm-ascend==0.11.0rc1
interegular==0.3.3
tenacity==9.1.4
google-auth-oauthlib==1.3.0
pydantic_core==2.41.5
opentelemetry-exporter-otlp-proto-grpc==1.40.0
s3fs==2026.2.0
watchfiles==1.1.1
python-json-logger==4.0.0
GitPython==3.1.46
proto-plus==1.27.1
hf_transfer==0.1.9
fakeredis==2.34.1
propcache==0.4.1
PyJWT==2.12.1
websockets==16.0
fastmcp==3.1.1
networkx==3.6.1
pycparser==3.0
gitdb==4.0.12
lmnr==0.7.42
py-cpuinfo==9.0.0
pyasn1==0.6.3
opentelemetry-semantic-conventions-ai==0.4.13
lark==1.3.1
openhands-agent-server==1.14.0
pillow==12.1.1
openhands-sdk==1.14.0
msgspec==0.20.0
google-resumable-media==2.8.0
dill==0.4.1
dnspython==2.8.0
aiohappyeyeballs==2.6.1
torchdata==0.11.0
omegaconf==2.3.0
typing_extensions==4.15.0
multiprocess==0.70.19
litellm==1.82.6
Pygments==2.19.2
google-auth==2.49.1
packaging==26.0
uncalled-for==0.2.0
typing-inspection==0.4.2
anyio==4.13.0
py-key-value-aio==0.4.4
debugpy==1.8.0
redis==7.4.0
aiofile==3.9.0
pydantic==2.12.5
more-itertools==10.8.0
SecretStorage==3.5.0
hf-xet==1.4.2
skyrl-train==0.2.0
Jinja2==3.1.6
scipy==1.17.1
prometheus-fastapi-instrumentator==7.1.0
sortedcontainers==2.4.0
pybase64==1.4.3
huggingface_hub==0.36.2
pathable==0.5.0
importlib_metadata==8.7.1
antlr4-python3-runtime==4.9.3
llvmlite==0.46.0
pip==26.0.1
jsonschema-specifications==2025.9.1
yarl==1.23.0
pydantic-settings==2.13.1
SQLAlchemy==2.0.48
charset-normalizer==3.4.6
openapi-pydantic==0.5.1
jsonref==1.1.0
ninja==1.13.0
wadler_lindig==0.1.7
sympy==1.14.0
xxhash==3.6.0
mpmath==1.3.0
grpcio-status==1.78.0
aiosqlite==0.22.1
platformdirs==4.9.4
jmespath==1.1.0
tom-swe==1.0.3
urllib3==2.6.3
sse-starlette==3.3.3
protobuf==6.33.6
gguf==0.18.0
accelerate==1.13.0
cffi==2.0.0
uvicorn==0.42.0
google-crc32c==1.8.0
jeepney==0.9.0
compressed-tensors==0.14.0.1
oauthlib==3.3.1
torch==2.8.0
loguru==0.7.3
docutils==0.22.4
cyclopts==4.10.1
psutil==7.2.2
alembic==1.18.4
